body{
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
  max-width: 1200px;
  margin: auto;

}

#app {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  background: rgb(207, 206, 206);
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 5px;
}

#header {
  /* background-image: url(images/foxy.png); */
  width: 100%;
}


#main {
  width: 100%;
  display: flex;
  flex: wrap;
  background: #eee
}

#main-article {
  background: rgb(228, 225, 225);
}

img, #fox-image {
  width: 50%;
  
}
h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 100px;
  background: rgb(207, 206, 206);
}

#article {
  width: 70%;
  padding: 20px;
  display: flex;
  flex: wrap;
}


#sidebar {
  width: 30%;
  padding: 20px;

}